@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


section {
    margin: 0 auto;
    max-width: 1200px;
}

/* CABEÇALHO */

header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: black;

    border-bottom: 2px solid white;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header section .logo img {
    width: 25%;
}

header section .search {
    display: flex;
    width: 30vw;
    height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

header section .search p {
    padding-left: 10px;
    color: rgb(59, 59, 59);
}

header section .search img {
    background-color: red;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

header nav {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 1rem;
    text-transform: uppercase;
    background-color: black;
}

header nav a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1.2rem;
    border: 1px solid white;

    transition-duration: 0.2s;
    transition-timing-function: linear;
}

header nav a:hover {
    letter-spacing: 0.1rem; 
}

header section .icons {
    text-align: center;
}

header section .icons img {
    padding-right: 1rem;
    margin: 0;
    cursor: pointer;
}


/* PROMOÇÕES */


#promocoes {
    display: flex;
    max-width: 1200px;

    margin-top: 5vh;
    max-height: 10vh;
}

#promocoes .pc {
    background-image: url('imagens/pc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 30vh;
    min-width: 23vw;
    border-radius: 10px;

    transition-duration: .5s;
    transition-timing-function: ease;
}

#promocoes .pc:hover {
    min-width: 24vw;
}

#promocoes .pc div {
    background-color: rgba(255, 255, 255, 0.534);
    max-width: 15vw;
    min-height: 30vh;

    border-bottom-right-radius: 50%;
}

#promocoes .pc div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2.5rem;
    padding-left: 1.2rem;
    color: rgb(0, 0, 0);
}

#promocoes .pc div .vermais {
    font-size: 1.5rem;
    padding-top: 1rem;
}

#promocoes .pc div .vermais img {
    max-width: 1rem;
}

#promocoes .periferico {
    background-image: url('imagens/periferico.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 30vh;
    min-width: 23vw;
    border-radius: 10px;
    margin-left: 2rem;

    transition-duration: .5s;
    transition-timing-function: ease;
}

#promocoes .periferico:hover {
    min-width: 24vw;
}

#promocoes .periferico div {
    background-color: rgba(255, 255, 255, 0.534);
    max-width: 15vw;
    min-height: 30vh;

    border-bottom-right-radius: 50%;
}

#promocoes .periferico div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2.5rem;
    padding-left: 1.2rem;
    color: rgb(0, 0, 0);
}

#promocoes .periferico div .vermais {
    font-size: 1.5rem;
    padding-top: 1rem;
}

#promocoes .periferico div .vermais img {
    max-width: 1rem;
}

#promocoes .monitor {
    background-image: url('imagens/monitor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 30vh;
    min-width: 23vw;
    border-radius: 10px;
    margin-left: 2rem;

    transition-duration: .5s;
    transition-timing-function: ease;
}

#promocoes .monitor:hover {
    min-width: 24vw;
}

#promocoes .monitor div {
    background-color: rgba(255, 255, 255, 0.534);
    max-width: 15vw;
    min-height: 30vh;

    border-bottom-right-radius: 50%;
}

#promocoes .monitor div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2.5rem;
    padding-left: 1.2rem;
    color: rgb(0, 0, 0);
}

#promocoes .monitor div .vermais {
    font-size: 1.5rem;
    padding-top: 1rem;
}

#promocoes .monitor div .vermais img {
    max-width: 1rem;
}

/* PRODUTOS */


#produtos {
    max-width: 1200px;

    margin-top: 32vh;
    max-height: 10vh;

}

#produtos h2 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

#produtos .products {
    display: flex;
    gap: 20px;
}

#produtos .products .novos {
    margin-top: 2rem;
    border: 2px solid rgba(44, 42, 42, 0.76);
    padding: 1.2rem;
    text-align: center;
    
    transition: 1s;
    transition-timing-function: linear;
}

#produtos .products .novos:hover {
    border: 2px solid rgba(206, 3, 3, 0.884);
}

#produtos .products .novos img {
    max-width: 15vw;
}

#produtos .products .novos .name  {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin: 1rem;
}

#produtos .products .novos .comprar {
    max-width: 8vw;
    background-color: red;
    border-radius: 10px;
    border: 2px solid red;

    margin: auto;
    margin-top: 1rem;

    transition: 0.3s;
    transition-timing-function: linear;
}

#produtos .products .novos .comprar:hover {
    background-color: white;
}

#produtos .products .novos .comprar a {
    text-decoration: none;
    color: black;
}

#produtos .products .novos .comprar p {
    text-transform: uppercase;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

#produtos .products .novos .comprar a p:hover {
    color: red;
}



